<footer class="t-hackcss-footer">
  <div class="container" style="padding: 0;">
    <div class="grid footer-inside">
      <div style="padding-right: 20px; margin: 5px 0;">
        <h2>Better by email.</h2>
      </div>
      <div  style="padding-right: 20px; margin: 5px 0;" class="footer-tagline">
        <p>A short list of the best things to do, make, celebrate and support in CCTX [this week]. Delivered every Monday.</p>
      </div>
      <div>
        <fieldset class="form-group form-success">
          <input id="email" type="text" placeholder="EML ADRS" class="form-control">
        </fieldset>
      </div>
    </div>
  </div>
</footer>
