// This file contains custom (non hack.css) styles

.t-hackcss {  // Main prefix to avoid collisions

  // navigation.html

  &-navigation {
    padding-right: $spacing-unit;
  }

  @at-root .hack &-navigation-heading {
    padding-top: 20px;
  }

  // footer.html

  @at-root body &-footer {
    padding-bottom: $spacing-unit;
  }

  &-social {
    display: inline-block;
  }

  &-social + &-social {
    padding-left: $spacing-unit;
  }

  &-sm-reversed-grid.grid {
    @include media-query($on-palm) {
      flex-direction: column-reverse;
    }
  }

  &-icon {
    display: inline-block;
    vertical-align: middle;
    width: $icon-size;
    height: $icon-size;

    > svg {
      width: $icon-size;
    }
  }

  // examples.html

  &-media {
    margin-bottom: 1.25rem;
  }

  &-media-shift {
    max-width: $image-size;
  }

  &-media-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &-cards {
    flex-wrap: wrap;
    @include media-query($on-palm) {
      flex-wrap: nowrap;
    }
  }

  &-cards-cell {
    padding-bottom: $spacing-unit;
    padding-right: $spacing-unit;
  }

  &-cards-text {
    margin: 0
  }

  &-cards-image {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }

  &-cards-link {
    text-align: center;
  }
}









.container {
    max-width: 1500px;
}

.t-hackcss-navigation {
    padding-right: 30px;
}


.page-title {
    font-size: 4rem;
    color: #f4bfa7;
    z-index: 1;
}

.page-title h1 {
  margin: 0px;
  position: fixed;
}

@media screen and (max-width: 600px) {
  .page-title h1 {
    font-size: 6rem;
  }
}

.page-title a {
  color: #f4bfa7;
  font-weight: 700;
  border: 0px;
}

.page-title a:hover {
  color: #000;
  font-weight: 700;
  border: 0px;
  background-color: #f4bfa7;
}

.t-hackcss-navigation {
    position: relative;
}

body {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    font-family:"proxima-nova-alt";
    word-wrap: break-word;
    background: #d0e9e3;

}

.tagline h5 {
    font-size: 2.8rem;
    margin-top: 23px;
    color: #f4bfa7;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .tagline h5 {
    margin-top: 0px;
    font-size: 2rem;
  }
}

.media-body {
    display: block;
    vertical-align: top;
    margin-bottom: 20px;
    position: relative;
    margin-top: 40px;
    z-index: 301;
}

.home-post {
    margin-top: 0px;
}

.tagline {
    margin-top: 155px;
}

@media screen and (max-width: 600px) {
  .tagline {
      margin-top: 120px;
  }
}

p h2 {
  position: relative;
  z-index: 10;
}

.media-heading {
    font-size: 3rem;
    margin-bottom: 51px;
    line-height: 1.5;
    position: relative;
    z-index: 300;
}

.media-heading a {
    font-size: 2rem;
    margin-bottom: 51px;
    line-height: 1.3;
    border-bottom: none;
}



a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

a:hover {
    background-color: #f4bfa7;
    color: #111;
    border-bottom: 0px;
}


.t-hackcss-footer {
    background-color: #f4bfa7;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 400;
}

.t-hackcss-footer .grid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}


.t-hackcss-footer  p {
    margin: 0.25em 0;
}

.t-hackcss-footer h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0;
}

.form-group {
    margin-bottom: 0;
    overflow: auto;
}

.form-control {
    outline: none;
    border: none;
    border-bottom: none;
    padding: .5rem 0.5rem;
    background-color: #d0e9e3;
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .footer-tagline {
    display: none;
  }
}


.bottom-links {
    border: none;
    padding: 10px;
    padding-bottom: 120px;
    padding-top: 100px;
    color: black;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
.bottom-links  {
  padding-bottom: 200px;
}
}

#mc_embed_signup { border: none; text-align: center; width: 100%; } /* Signup form container */

.mc-field-group { display: inline-block; } /* positions input field horizontally */

#mce-EMAIL { font-size: 1em; border: 2px solid #ABB0B2 ; color: #343434; background-color: #fff; padding: .7em 9em .7em 1em; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } /* Input Styles */

.clear { display: inline-block; } /* positions button horizontally in line with input */

.button { font-size: 1em; letter-spacing: .03em; color: #fff; background-color: #2386C8 ; padding: .7em 2em; border: 2px solid #2386C8 ; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } /* Button Styles */

:-webkit-input-placeholder { color: #ABB0B2 ; } /* WebKit browsers */
:-moz-placeholder { color: #ABB0B2 ; } /* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: #ABB0B2 ; } /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color: #ABB0B2 ; } /* Internet Explorer 10+ */

@media (max-width: 768px) { /* positions input field and button underneath each other with 100% width for tablet and mobile */

.mc-field-group { display: block; }
#mce-EMAIL { padding: .7em 0 .7em 1em; width: 96%; margin: 0; }
.clear { display: block; width: 100% }
.button { width: 100%; margin: .5em 0 0 0; }

}

#mc_embed_signup_scroll {
    text-align: right;
}


#mce-EMAIL {
    font-size: 1em;
    border: 2px solid #000;
    color: #343434;
    background-color: transparent;
    padding: .7em 9em .7em 1em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
    display: inline-block;
    margin: 0;
}


input#mc-embedded-subscribe {
    border: 2px solid black;
    background: black;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#mc_embed_signup {
    border: none;
    text-align: center;
    width: 100%;
    margin-top: 4px;
}

.content-button {
    border: 2px solid black;
    background: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    border: none;
    text-align: center;
    width: 100%;
    margin-top: 4px;
}



@media (max-width: 768px) {
#mce-EMAIL {
    padding: .7em 0 .7em 1em;
    width: 100%;
    margin: 0;
}
}


@media (max-width: 768px) {
.footer-left {
    display: none;
}
}

.submit-thing {
    margin-top: 8rem;
    text-align: justify;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}


.yay-events {
    top: 30%;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: #f4bfa7;
    font-weight: 700;
}

.yay-events a {
  color: #f4bfa7;
  font-weight: 700;
  border: 0px;
}

.yay-events a:hover {
  color: #000;
  font-weight: 700;
  border: 0px;
}

.yay-events h1 {
  font-size: 500%;
margin-bottom: 0px;
line-height: 1;
}


input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0px;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 0px;
}



.standard h1, .standard h2, .standard h3, .standard h4, .standard h5, .standard h6, .standard p, .standard a, .standard, p, a, h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova";
}
