// This file contains custom (non hack.css) styles

.t-hackcss {  // Main prefix to avoid collisions

  // navigation.html

  &-navigation {
    padding-right: $spacing-unit;
  }

  @at-root .hack &-navigation-heading {
    padding-top: 20px;
  }

  // footer.html

  @at-root body &-footer {
    padding-bottom: $spacing-unit;
  }

  &-social {
    display: inline-block;
  }

  &-social + &-social {
    padding-left: $spacing-unit;
  }

  &-sm-reversed-grid.grid {
    @include media-query($on-palm) {
      flex-direction: column-reverse;
    }
  }

  &-icon {
    display: inline-block;
    vertical-align: middle;
    width: $icon-size;
    height: $icon-size;

    > svg {
      width: $icon-size;
    }
  }

  // examples.html

  &-media {
    margin-bottom: 1.25rem;
  }

  &-media-shift {
    max-width: $image-size;
  }

  &-media-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &-cards {
    flex-wrap: wrap;
    @include media-query($on-palm) {
      flex-wrap: nowrap;
    }
  }

  &-cards-cell {
    padding-bottom: $spacing-unit;
    padding-right: $spacing-unit;
  }

  &-cards-text {
    margin: 0
  }

  &-cards-image {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 0 auto;
  }

  &-cards-link {
    text-align: center;
  }
}









.container {
    max-width: 1500px;
}

.t-hackcss-navigation {
    padding-right: 30px;
}


.page-title {
    font-size: 4rem;
    color: #f4bfa7;
    z-index: 1;
    background-color: #d0e9e3;
}

.page-title h1 {
  margin: 0px;
  position: fixed;
}

@media screen and (max-width: 600px) {
  .page-title h1 {
    font-size: 6rem;
  }
}

.t-hackcss-navigation {
    position: relative;
}

body {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0;
    font-family: Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    word-wrap: break-word;
    background: #d0e9e3;
    padding-bottom: 100px;
}

.tagline h5 {
    font-size: 2.8rem;
    margin-top: 23px;
    color: #f4bfa7;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .tagline h5 {
    margin-top: 0px;
    font-size: 2rem;
  }
}

.media-body {
    display: block;
    vertical-align: top;
    margin-bottom: 20px;
    position: relative;
    margin-top: 40px;
}

.home-post {
    margin-top: 0px;
}

.tagline {
    margin-top: 155px;
}

@media screen and (max-width: 600px) {
  .tagline {
      margin-top: 120px;
  }
}

p h2 {
  position: relative;
  z-index: 10;
}

.media-heading {
    font-size: 3rem;
    margin-bottom: 51px;
    line-height: 1.5;
}

.media-heading a {
    font-size: 2rem;
    margin-bottom: 51px;
    line-height: 1.3;
    border-bottom: none;
}



a {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #000;
}

a:hover {
    background-color: #f4bfa7;
    color: #d0e9e3;
    border-bottom: 0px;
}


.t-hackcss-footer {
    background-color: #f4bfa7;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}


.t-hackcss-footer  p {
    margin: 0.25em 0;
}

.t-hackcss-footer h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0;
}

.form-group {
    margin-bottom: 0;
    overflow: auto;
}

.form-control {
    outline: none;
    border: none;
    border-bottom: none;
    padding: .5rem 0.5rem;
    background-color: #d0e9e3;
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .footer-tagline {
    display: none;
  }
}
